<%- include('partials/header') %>
<div id="aboutBody">
  <h1>About</h1>
  <p><%= aboutContent %></p>
  <p>
    Welcome to Daily Journals, your personal haven for self-reflection, growth,
    and mindfulness. Discover the power of daily writing as you embark on a
    transformative journey of self-discovery and expression. <br /><br />

    At Daily Journals, we believe that writing is a gateway to understanding
    ourselves better, fostering creativity, and achieving a sense of clarity
    amidst life's complexities. Our platform offers you a sanctuary to pour your
    thoughts, emotions, and experiences onto digital pages, fostering a deeper
    connection with your inner self.<br /><br />

    Whether you're a seasoned journaler or new to the practice, our intuitive
    interface and user-friendly tools make it effortless to create and organize
    your daily entries. Capture fleeting moments, celebrate milestones, confront
    challenges, or simply record the beauty of everyday life. Our platform is
    your private canvas, waiting to embrace your words and provide you with a
    sanctuary of self-expression.<br /><br />

    Explore our diverse range of customizable journal templates to suit your
    unique style and preferences. From gratitude journals to dream logs, from
    goal trackers to poetry collections, we have a template for every aspect of
    your life that you wish to explore and nurture. Tailor each page to reflect
    your individuality, making your journal truly yours.<br /><br />

    We understand the importance of privacy and security when it comes to your
    personal thoughts and feelings. Rest assured, your entries are encrypted and
    stored securely, ensuring your complete confidentiality. You can write with
    peace of mind, knowing that your innermost musings are safe within the walls
    of our digital sanctuary.<br /><br />

    Engage with a supportive community of like-minded individuals who share your
    passion for journaling. Connect with fellow writers, exchange insights, and
    find inspiration from their stories. Participate in writing challenges,
    prompts, and discussion forums, further enriching your journaling
    experience.<br /><br />

    Daily Journals is not just a platform; it's a companion on your journey of
    self-discovery. Start your day with intention, end it with reflection, and
    embrace the power of writing to transform your life. Begin your journaling
    adventure today and unlock the limitless potential within you.
  </p>
</div>
<%- include('partials/footer') %><br />
